.Rproj.user
.Rhistory
.RData
.Ruserdata
data/climatologies/tmax_mean_1981-2010.nc
data/climatologies/tmax_mean_1981-2010_005.nc
data/climatologies/tmax_mean_1981-2010_010.nc
data/climatologies/tmin_mean_1981-2010.nc
data/climatologies/tmin_mean_1981-2010_005.nc
data/climatologies/tmin_mean_1981-2010_010.nc
data/covariables/001/DEM.nc
data/covariables/001/LST_DAY.nc
data/covariables/001/LST_NIGHT.nc
data/covariables/001/TDI.nc
data/covariables/001/X.nc
data/covariables/001/Y.nc
data/covariables/005/
data/covariables/010/